profiles {

   standard {
      includeConfig 'base.config'
      process.executor = 'local'
      conda.enabled = true
      process {
         withName: MINIMAP2_SAM{
               conda = "${baseDir}/sberry_env.yml"
         }
         withName: SAM_SORT_AND_INDEX{
               conda = "${baseDir}/sberry_env.yml"
         }
         withName: STRAINBERRY{
               conda = "${baseDir}/sberry_env.yml"
         }
         
   }

}

}
